<div class="col-md-12">
	{{#each rel in relationships}}
		<div class="row">
			<div class="col-md-6">
				{{input value=rel.predicate type="text" readonly=annotation.isNotEditing}}
			</div>
			<div class="col-md-6">
				{{#if rel.object.relationships}}
					{{input value=rel.object.relationships.firstObject.object type="text" class="pull-right" readonly=annotation.isNotEditing}}
				{{else}}
					{{input value=rel.object type="text" class="pull-right" readonly=annotation.isNotEditing}}
				{{/if}}
			</div>	
		</div>
	{{/each}}
	<div class="row">
		<form role="form" {{action "addRelationship" on="submit"}}>
			<div class="col-md-6">
				{{input class="rel" value=newRel.predicate type="text" readonly=annotation.isNotEditing}}
			</div>
			<div class="col-md-6">
				{{#if newRel.object.name}}
					{{input value=newRel.object.name type="text" class="pull-right" readonly=annotation.isNotEditing}}
				{{else}}
					{{input value=newRel.object type="text" class="pull-right" readonly=annotation.isNotEditing}}
				{{/if}}
			</div>
			<input type="submit" style="display:none">
		</form>
	</div>
	<div class="row">
		<div class="col-md-12">
			{{#if annotation.isEditing}}
				<button type="button" class="btn btn-xs btn-default" {{action "saveAnnotation" on="click" bubbles=false}}>Save</button>
				<button type="button" class="btn btn-xs btn-default pull-right" {{action "cancelAnnotation" on="click" bubbles=false}}>Cancel</button>
			{{else}}
				<button type="button" class="btn btn-xs btn-default" {{action "editAnnotation" on="click" bubbles=false}}>Edit</button>
				<button type="button" class="btn btn-xs btn-default pull-right" {{action "deleteAnnotation" on="click" bubbles=false}}>Delete</button>
			{{/if}}
		</div>
	</div>
</div>