<div class="row">
	<div class="col-md-12">
		<div style="padding-bottom:10px">
			<img src="http://images.rapgenius.com/avatars/tiny/d435b9a76b63206562f47b9701bc5d26">
			<strong>cwarny</strong>
		</div>
	</div>
</div>

{{#if annotation.type}}
	{{#if annotation.isEntity}}
		{{entity-annotation annotation=annotation action="deleteAnnotation"}}
	{{else}}
		{{#if annotation.isComment}}
			{{comment-annotation annotation=annotation action="deleteAnnotation"}}
		{{/if}}
	{{/if}}
{{else}}
	<div class="row">
		<div class="col-md-6">
			<button type="button" class="btn btn-sm btn-default" style="width:100%" {{action "createAnnotation" "entity" on="click" bubbles=false}}>Add entity</button>
		</div>
		<div class="col-md-6">
			<button type="button" class="btn btn-sm btn-default" style="width:100%" {{action "createAnnotation" "comment" on="click" bubbles=false}}>Add comment</button>
		</div>
	</div>
{{/if}}