<div class="row">
	<div class="col-md-12">
		<div style="padding-bottom:10px">
			<img src="http://images.rapgenius.com/avatars/tiny/d435b9a76b63206562f47b9701bc5d26">
			<strong>cwarny</strong>
		</div>
	</div>
</div>

{{#if annotation.type}}
	<div class="row">
		<div class="col-md-12">
			{{#if annotation.isComment}}
				<div class="row">
					<div class="col-md-12">
						{{textarea placeholder="Say something interesting"}}
					</div>
				</div>
			{{else}}
				{{#if annotation.isEntity}}
					<div class="row">
						<div class="col-md-12">
							{{#each p in annotation.entityProperties}}
								<div class="row">
									<div class="col-md-6">
										{{input value=p.propKey type="text"}}
									</div>
									<div class="col-md-6">
										{{input value=p.propValue type="text" class="pull-right"}}
									</div>	
								</div>
							{{/each}}
							<div class="row">
								<form role="form" {{action "addProperty" on="submit"}}>
									<div class="col-md-6">
										{{input value=p.propKey type="text"}}
									</div>
									<div class="col-md-6">
										{{input value=p.propValue type="text" class="pull-right"}}
									</div>
								</form>
							</div>
						</div>
					</div>
				{{/if}}
			{{/if}}
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<button type="button" class="btn btn-xs btn-default" {{action "addAnnotation" on="click" bubbles=false}}>Save</button>
			<button type="button" class="btn btn-xs btn-default pull-right" {{action "deleteAnnotation" on="click" bubbles=false}}>Cancel</button>
		</div>
	</div>
{{else}}
	{{!-- <button type="button" class="btn btn-sm btn-default" style="width:100%" {{action "createAnnotation" on="click" bubbles=false}}>Add annotation</button> --}}
	<div class="row">
		<div class="col-md-6">
			<button type="button" class="btn btn-sm btn-default" style="width:100%" {{action "createAnnotation" "entity" on="click" bubbles=false}}>Add entity</button>
		</div>
		<div class="col-md-6">
			<button type="button" class="btn btn-sm btn-default" style="width:100%" {{action "createAnnotation" "comment" on="click" bubbles=false}}>Add comment</button>
		</div>
	</div>
{{/if}}