<div class="row">
	<div class="col-md-3">
		<ul>
			{{#each e in entitiesSaved}}
				<li>
					{{#dragdroppable-item entity=e dropped="addRelationship"}}
						<span class="entity">{{e.relationships.firstObject.object}}</span>
					{{/dragdroppable-item}}
					<ul>
						{{#each r in e.objectRelationships}}
							<li class="relationship-object">
								{{predicate-relationship value=r.predicate}}
								<span class="entity">{{r.object.relationships.firstObject.object}}</span>
							</li>
						{{/each}}
					</ul>
				</li>
			{{/each}}
		</ul>
	</div>
	{{view "doc-content"}}
	<div class="col-md-3">
		{{#if annotationSelected}}
			{{margin-annotation annotation=annotationSelected action="deleteAnnotation"}}
		{{/if}}
	</div>
</div>